.widget__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.widget {
    width: 700px;
    background-color: var(--green-1);
    border-radius: var(--mantine-radius-default);
    padding: 7px;
}

.pill__root {
    width: 200px;
    height: 36px;
    background-color: var(--green-3);

    border-radius: var(--mantine-radius-default);

    justify-content: space-between;
}

.pill__label {
    font-size: 14px;
    font-weight: 600;

    color: white;
    display: flex;
    align-items: center;
}

.pill__label__content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0
}

.pill__remove {
    color: white;
    width: 28px;
    padding: 0;
    height: 28px;
    margin: 4px;
    flex: none;

    border-radius: var(--mantine-radius-default);

    &:hover {
        background-color: var(--green-2);
    }
}

.button_upload__root {
    width: 200px;
    height: 36px;
    padding: 1px 8px;
    background-color: var(--green-3);

    &:hover {
        background-color: var(--green-2);
    }
}

.checkbox__label {
    color: white;
    font-weight: 600;
}

.checkbox__inner {
    & input:not(:checked) {
        background-color: var(--green-1);
        border: 2px solid var(--green-3);
    }

    & input:checked {
        border: 2px solid var(--green-3);
        background-color: var(--green-3);
    }
}

.button_submit {
    width: 200px;
    background-color: var(--green-3);

    &:hover {
        background-color: var(--green-2);
    }

    &[disabled] {
        background-color: white;
    }
}

.number_input__label {
    color: white;
    font-weight: 600;
}

.number_input__input {
    background-color: var(--green-3);
    border: none;
    color: white;
    font-weight: 600;
}